<ion-view title="Calendar">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-positive tabs-icon-left">

        <ion-tab title="My Meets" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
            <!-- Tab 3 content -->

        <ion-content class="has-header" id="imagebg">
            <!-- The New meets section. Show any new invites that have come through to the user. Hide those which have not been acceptd-->
            <div class="list card" >
                <ion-item class="item-divider"> New Meets</ion-item>
                <a class="item" ng-repeat="meet in meets | filter: {isNew:'True'}" >
                    <div class="row" ng-click="show = !show">

                        <div class="col"><img style="width: 50%; height:50%" src="{{meet.meetImage}}">  </div>

                        <div class="col col-50"><h4>{{meet.name}} </h4>
                            <p><b>{{meet.date|date:'MMMM'}}</b> at {{meet.time}}</p>
                            <p>{{meet.venue}} <br>
                                Host: {{meet.host}}</p></div>

                        <div class="col">
                            <button class="button icon button-small ion-android-checkmark button-balanced"></button>
                            <button class="button icon button-small ion-android-close button-assertive"></button>
                        </div>

                    </div>
                    <!-- Hidden div that shows the attendees for the event and moves the Accept/Decline buttons-->
                    <div ng-show="show" ng-click="show = !show">
                        <ion-item class="item-divider"> Attendees</ion-item>

                        <div  ng:repeat="attendee in meet.attendees">
                            <div class="col"> <p ng-class="{'dark-bg': attendancestatus= 'Not Attending'}"><img id="profilepic" width="50px" src="{{attendee.profilePicture}}">{{attendee.name}}</p></div>

                        </div>
                        <div class="col">
                            <button class="button button-small icon-left ion-android-checkmark button-balanced">Join</button>
                            <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                        </div>
                    </div>
                </a>

            </div>
        </ion-content>
        </ion-tab>

        <ion-tab title="Calendar" icon-on="ion-ios7-calendar" icon-off="ion-ios7-calendar-outline">
            <ion-content class="has-header" id="imagebg">

                <!-- The calendar section. List all events available for the user including those which have been accepted-->
                <div class="list card" >
                    <ion-item class="item-divider"> {{currentDate | date:'MMMM'}}</ion-item>
                    <a class="item" ng-repeat="meet in meets | filter: {date:'/08/2014'}">
                        <div class="row" ng-click="show = !show">

                            <div class="col"><img style="width: 50%; height:50%" src="{{meet.meetImage}}">  </div>

                            <div class="col col-50"><h4>{{meet.name}} </h4>
                                <p><b>{{meet.date|date:'MMMM'}}</b> at {{meet.time}}</p>
                                <p>{{meet.venue}} <br>
                                    Host: {{meet.host}}</p></div>

                            <div class="col">
                                <button class="button icon button-small ion-android-checkmark button-balanced"></button>
                                <button class="button icon button-small ion-android-close button-assertive"></button>
                            </div>

                        </div>
                        <!-- Hidden div that shows the attendees for the event and moves the Accept/Decline buttons-->
                        <div ng-show="show" ng-click="show = !show">
                            <ion-item class="item-divider"> Attendees</ion-item>

                            <div  ng:repeat="attendee in meet.attendees">
                                <div class="col"> <img id="profilepic" width="50px" src="{{attendee.profilePicture}}">{{attendee.name}}</div>

                            </div>
                            <div class="col">
                                <button class="button button-small icon-left ion-android-checkmark button-balanced">Join</button>
                                <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                            </div>
                        </div>
                    </a>


                    <ion-item class="item-divider"> September </ion-item>
                    <a class="item" ng-repeat="meet in meets | filter: {date:'/09/2014'}">
                        <div class="row" ng-click="show = !show">

                            <div class="col"><img style="width: 50%; height:50%" src="{{meet.meetImage}}">  </div>

                            <div class="col col-50"><h4>{{meet.name}} </h4>
                                <p><b>{{meet.date|date:'MMMM'}}</b> at {{meet.time}}</p>
                                <p>{{meet.venue}} <br>
                                    Host: {{meet.host}}</p></div>

                            <div class="col">
                                <button class="button icon button-small ion-android-checkmark button-balanced"></button>
                                <button class="button icon button-small ion-android-close button-assertive"></button>
                            </div>

                        </div>
                        <!-- Hidden div that shows the attendees for the event and moves the Accept/Decline buttons-->
                        <div ng-show="show" ng-click="show = !show">
                            <ion-item class="item-divider"> Attendees</ion-item>

                            <div  ng:repeat="attendee in meet.attendees">
                                <div class="col"> <img id="profilepic" width="50px" src="{{attendee.profilePicture}}">{{attendee.name}}</div>

                            </div>
                            <div class="col">
                                <button class="button button-small icon-left ion-android-checkmark button-balanced">Join</button>
                                <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                            </div>
                        </div>
                    </a>
                </div>


            </ion-content>
        </ion-tab>

        <ion-tab title="Suggest" icon-on="ion-beaker" icon-off="ion-beaker">
            <ion-content class="has-header" id="imagebg">
                <!-- The New meets section. Show any new invites that have come through to the user-->
                <div class="list card" >
                    <ion-item class="item-divider"> New Meets</ion-item>
                    <a class="item" ng-repeat="meet in meets | filter: {isNew:'True'}" >
                        <div class="row" ng-click="show = !show">

                            <div class="col"><img style="width: 50%; height:50%" src="{{meet.meetImage}}">  </div>

                            <div class="col col-50"><h4>{{meet.name}} </h4>
                                <p><b>{{meet.date|date:'MMMM'}}</b> at {{meet.time}}</p>
                                <p>{{meet.venue}} <br>
                                    Host: {{meet.host}}</p></div>

                            <div class="col">
                                <button class="button icon button-small ion-android-checkmark button-balanced"></button>
                                <button class="button icon button-small ion-android-close button-assertive"></button>
                            </div>

                        </div>
                        <!-- Hidden div that shows the attendees for the event and moves the Accept/Decline buttons-->
                        <div ng-show="show" ng-click="show = !show">
                            <ion-item class="item-divider"> Attendees</ion-item>

                            <div  ng:repeat="attendee in meet.attendees">
                                <div class="col"> <img id="profilepic" width="50px" src="{{attendee.profilePicture}}">{{attendee.name}}</div>

                            </div>
                            <div class="col">
                                <button class="button button-small icon-left ion-android-checkmark button-balanced">Join</button>
                                <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                            </div>
                        </div>

                    </a>

                </div>

            </ion-content>
        </ion-tab>





    </ion-tabs>







</ion-view>