<ion-view title="{{contact.name}}">

    <ion-content id="imagebg" has-header="true">

        <div class="list card" style="background: rgba(0, 0, 0, 0.2); ">

            <div class="item" style="background: rgba(0, 0, 0, 0); ">
                <div class="row">
                    <div class="col"><img id="profilepic" src="{{contact.profilePicture}}"> </div>
                    <div class="col"><h2 style="color:white">{{contact.name}}</h2>
                        <p>
                            <i class="icon ion-location"></i> {{contact.currentCity}}<br>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <p ng-class="{'dark-bg': contact.daysSinceLastMeet>28}"> Days since last contact: {{contact.daysSinceLastMeet}} <p>
                </div>

            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-beer"></i>
                    Meet up
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Message
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i>
                    Make Priority
                </a>
            </div>


        </div>

        <div class="item item-body">
            <h2>Contact Methods</h2>
            <p>
            <div class="row">
                <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'Facebook'}"><img height="50" width="50" src="./img/icons/fb-icon.png"></div>
                <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'Google'}"><img height="50" width="50" src="./img/icons/gp-icon.png"></div>
                <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'Mobile'}"><img height="50" width="50" src="./img/icons/phone-icon.png"></div>
                <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'E-Mail'}"><img height="50" width="50" src="./img/icons/email-icon.png"></div>
            </div>
            </p>

        </div>

        <div class="item item-body">
            <h2>Food Preferences</h2>
            <p>
                <ion-list>
                    <ion-item ng-repeat="foodPreference in contact.foodPreferences">
                        {{foodPreference.name}}
                    </ion-item>
                </ion-list>
            </p>

        </div>
        <div class="item item-body">


            <h2>Considerations</h2>
            <p>
                <ion-list>
                    <ion-item ng-repeat="consideration in contact.considerations">
                        {{consideration.name}}
                    </ion-item>
                </ion-list>
            </p>

        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-trash-a"></i>
                Delete Contact
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-link"></i>
                Merge
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-checkmark"></i>
                Save
            </a>
        </div>



    </ion-content>
</ion-view>
