<ion-view title="Meets">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" id="imagebg">
        <div class="list card" style="background: rgba(0, 0, 0, 0.2); ">

            <div class="item" style="background: rgba(0, 0, 0, 0); ">
                <div class="row">
                    <div class="col"><img src="{{contact.profilePicture}}"> </div>
                    <div class="col"><h2 style="color:white">{{contact.name}}</h2>
                        <p>
                            <i class="icon ion-location"></i> {{contact.currentCity}}<br>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <p ng-class="{'assertive-bg': contact.daysSinceLastMeet>28}"> Days since last contact: {{contact.daysSinceLastMeet}} <p>
                </div>

            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-beer"></i>
                    New Meet
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Message
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i>
                    Make Priority
                </a>
            </div>


        </div>

        <!-- The New meets section. Show any new invites that have come through to the user-->
        <div class="list card" >
            <ion-item class="item-divider"> New Meets</ion-item>
            <a class="item" ng-repeat="meet in meets | filter: {isNew:'True'}" >
                <div class="row" ng-click="show = !show">

                    <div class="col"><img style="width: 50%; height:50%" src="{{meet.meetImage}}">  </div>

                    <div class="col col-50"><h4>{{meet.name}} </h4>
                        <p><b>{{meet.date|date:'MMMM'}}</b> at {{meet.time}}</p>
                        <p>{{meet.venue}} <br>
                           Host: {{meet.host}}</p></div>

                    <div class="col">
                        <button class="button icon button-small ion-android-checkmark button-balanced"></button>
                        <button class="button icon button-small ion-android-close button-assertive"></button>
                    </div>

                </div>

                <!-- Hidden div that shows the attendees for the event and moves the Accept/Decline buttons-->
                <div ng-show="show" ng-click="show = !show">
                    <ion-item class="item-divider"> Attendees</ion-item>

                    <div  ng:repeat="attendee in meet.attendees">
                        <div class="col"> <img id="profilepic" width="50px" src="{{attendee.profilePicture}}">{{attendee.name}}</div>

                    </div>
                    <div class="col">
                        <button class="button button-small icon-left ion-android-checkmark button-balanced">Join</button>
                        <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                    </div>
                </div>

            </a>

        </div>


        <div class="list card" >
            <ion-item class="item-divider"> {{currentDate | date:'MMMM'}}</ion-item>
            <a class="item" ng-repeat="meet in meets | filter: {date:'/08/2014'}" href="#/app/meet/{{meet.id}}">
                <div class="row" ng-click="show = !show">

                    <div class="col"><img style="width: 50%; height:50%" src="{{meet.meetImage}}">  </div>

                    <div class="col col-50"><h4>{{meet.name}} </h4>
                        <p><b>{{meet.date|date:'MMMM'}}</b> at {{meet.time}}</p>
                        <p>{{meet.venue}} <br>
                            Host: {{meet.host}}</p></div>

                    <div class="col">
                        <button class="button icon button-small ion-android-checkmark button-balanced"></button>
                        <button class="button icon button-small ion-android-close button-assertive"></button>
                    </div>

                </div>
                <div ng-show="show" ng-click="show = !show">
                    <ion-item class="item-divider"> Attendees</ion-item>

                    <div class="item" ng:repeat="attendee in meet.attendees">
                        {{attendee.attendancestatus}}
                        <div class="col"> <img id="profilepic" width="50px" src="{{attendee.profilePicture}}">{{attendee.name}}</div>

                    </div>
                    <div class="col">
                        <button class="button button-small icon-left ion-android-checkmark button-balanced">Join</button>
                        <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                    </div>
                </div>
            </a>
            <ion-item class="item-divider"> September </ion-item>
            <a class="item" ng-repeat="meet in meets | filter: {date:'/09/2014'}" href="#/app/meet/{{meet.id}}">
                <div class="row" ng-click="show = !show">

                    <div class="col"><img style="width: 50%; height:50%" src="{{meet.meetImage}}">  </div>

                    <div class="col col-50"><h4>{{meet.name}} </h4>
                        <p><b>{{meet.date|date:'MMMM'}}</b> at {{meet.time}}</p>
                        <p>{{meet.venue}} <br>
                            Host: {{meet.host}}</p></div>

                    <div class="col">
                        <button class="button icon button-small ion-android-checkmark button-balanced"></button>
                        <button class="button icon button-small ion-android-close button-assertive"></button>
                    </div>

                </div>
                <div ng-show="show" ng-click="show = !show">
                    <ion-item class="item-divider"> Attendees</ion-item>

                    <div ng:repeat="attendee in meet.attendees">
                        {{attendee.attendancestatus}}
                        <div class="col"> <img id="profilepic" width="50px" src="{{attendee.profilePicture}}">{{attendee.name}}</div>

                    </div>
                    <div class="col">
                        <button class="button button-small icon-left ion-android-checkmark button-balanced">Join</button>
                        <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                    </div>
                </div>
            </a>
        </div>







    </ion-content>
</ion-view>