<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable" >
      <h1 class="title">SimpleSocial</h1>
    </header>
    <ion-content class="has-header">
      <ion-list style="background: rgba(0, 0, 0, 0.2)  ">
        <ion-item nav-clear menu-close href="#/app/contacts" >
            <i class="icon ion-person-stalker"></i>
            Contacts
        </ion-item>
        <ion-item icon="icon ion-home" nav-clear menu-close href="#/app/meets">
            <i class="icon ion-coffee"></i>
            Meets
            <span class="badge badge-assertive">0</span>
        </ion-item>
        <ion-item icon="icon ion-home" nav-clear menu-close href="#/app/calendar">
            <i class="icon ion-ios7-calendar"></i>
            Calendar
        </ion-item>
          <ion-item icon="icon ion-home" nav-clear menu-close href="#/app/suggestions">
              <i class="icon ion-ios7-calendar"></i>
              Suggestions
          </ion-item>
        <ion-item icon="icon ion-home" nav-clear menu-close href="#/app/profile">
            <i class="icon ion-person"></i>
            My Profile
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
            <i class="icon ion-gear-a"></i>
            Settings
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
