<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list card" >
                {{welcomeMessage}}
            Test
            </div>
        <ion-list>
            <ion-item ng-repeat="profileOption in profileOptions">
                {{profileOption.optionName}}:   {{profileOption.currentValue}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>