<ion-view title="Suggestions">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content  id="imagebg" class="has-header">
        <div class="list card" >
            <ion-item class="item-divider"> Meet Suggestions</ion-item>
            <a class="item" ng-repeat="suggestion in suggestions">
                <div class="row" ng-click="show = !show">
                    <p></p>
                    <div class="col"><img style="width: 50%; height:50%" src="{{suggestion.meetImage}}">  </div>

                    <div class="col col-75"><h3>{{suggestion.description}}</h3>
                        <p>How about {{suggestion.suggestionType}}?<br>
                            <b>{{suggestion.date}} at <u>{{suggestion.venue}}  <i class="ion-location"></i></u> </b>
                        </p>

                        </div>

                </div>
                <!-- Hidden div that shows the attendees for the event and moves the Accept/Decline buttons-->
                <div ng-show="show" ng-click="show = !show">
                    <ion-item class="item-divider"> Invite List</ion-item>

                    <div  ng:repeat="attendee in suggestion.attendees">
                        <div class="col"> <img id="profilepic" width="50px" src="{{attendee.picture}}">{{attendee.name}}</div>

                    </div>
                    <div class="col">
                        <button class="button button-small icon-left ion-android-checkmark button-balanced">Invite</button>
                        <button class="button button-small icon-left ion-android-close button-assertive">Decline</button>
                    </div>
                </div>

            </a>

        </div>


    </ion-content>
</ion-view>