/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
 */

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #5DD0C0 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #FF6A00 !default;
$royal:                           #8a6de9 !default;
$dark:                            #00A08A !default;  // #00A08A
$highlight:                       #FF6A00 !default;

$base-background-color:           #00A08A;
$list-header-bg:                  #00A08A !default;
$menu-bg:                         #00A08A !default;
$item-avatar-border-radius:       50%;
$item-avatar-height:              50px;


  // The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

