<ion-view title="Contacts">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="contact in contacts" href="#/app/contact/{{contact.id}}">
                <div class="row">
                    <div class="item-avatar"><img src="{{contact.profilePicture}}"></div>
                    <div class="col col-75">{{contact.name}}</div>
                    <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'Facebook'}"><i class="ion-social-facebook"></i></div>
                    <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'Google'}"><i class="ion-social-googleplus"></i></div>
                    <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'Mobile'}"><i class="ion-iphone"></i></div>
                    <div class="col" ng:repeat="socialAccount in contact.socialAccounts | filter: {name:'E-Mail'}"><i class="ion-ios7-email"></i></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>