<ion-view title="Meets">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="meet in meets">
                {{meet.name}}  {{meet.id}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>