<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">SimpleSocial</h1>
    </header>
    <ion-content class="has-header" id="imagebg">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/contacts">
          Contacts
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/meets">
              Meets
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/calendar">
          Calendar
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile">
          My Profile
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
          Settings
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
