<ion-view title="Meet">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" id="imagebg">
        <div class="list card" style="background: rgba(0, 0, 0, 0.2); ">

            <div class="item" style="background: rgba(0, 0, 0, 0); ">
                <div class="row">
                    <div class="col"><img src="{{contact.profilePicture}}"> </div>
                    <div class="col"><h2 style="color:white">{{contact.name}}</h2>
                        <p>
                            <i class="icon ion-location"></i> {{contact.currentCity}}<br>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <p ng-class="{'assertive-bg': contact.daysSinceLastMeet>28}"> Days since last contact: {{contact.daysSinceLastMeet}} <p>
                </div>

            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-beer"></i>
                    New Meet
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Message
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i>
                    Make Priority
                </a>
            </div>


        </div>



        <div class="list card" >
            <ion-item class="item-divider"> New Meets</ion-item>
            <a class="item" ng-repeat="meet in meets | filter: {isNew:'True'}" href="#/app/meet/{{meet.id}}">
                <div class="row">
                    <div class="col"><img style="width: 50%; height:50%" class="item-thumbnail" src="{{meet.meetImage}}">  </div>

                    <div class="col"><h2>{{meet.date|date:'MMMM'}}</h2>
                        <p>{{meet.time}}</p></div>
                    <div class="col"><h2>{{meet.name}}  </h2>
                        <p>{{meet.venue}} </p></div>
                    <div class="col">
                        <button class="button icon-left ion-android-checkmark button-balanced">Join</button>
                        <button class="button icon-left ion-android-close button-assertive">Decline</button>
                    </div>



                </div>
            </a>
        </div>

        <div class="list card" >
            <ion-item class="item-divider"> {{currentDate | date:'MMMM'}}</ion-item>
            <a class="item" ng-repeat="meet in meets | filter: {date:'/07/2014'}" href="#/app/meet/{{meet.id}}">
                <div class="row">
                    <div class="col"><img style="width: 50%; height:50%" class="item-thumbnail" src="{{meet.meetImage}}">  </div>

                    <div class="col"><h2>{{meet.date|date:'MMMM'}}</h2>
                        <p>{{meet.time}}</p></div>
                    <div class="col"><h2>{{meet.name}}  </h2>
                        <p>{{meet.venue}} </p></div>
                    <div class="col">
                        <button class="button icon-left ion-android-checkmark button-balanced">Join</button>
                        <button class="button icon-left ion-android-close button-assertive">Decline</button>
                    </div>



                </div>
            </a>
            <ion-item class="item-divider"> {{currentDate | date:'MMMM'}}</ion-item>
            <a class="item" ng-repeat="meet in meets | filter: {date:'/08/2014'}" href="#/app/meet/{{meet.id}}">
                <div class="row">
                    <div class="col"><img style="width: 50; height:50" class="item-thumbnail" src="{{meet.meetImage}}">  </div>

                    <div class="col"><h2>{{meet.date|date:'MMMM'}}</h2>
                        <p>{{meet.time}}</p></div>
                    <div class="col"><h2>{{meet.name}}  </h2>
                        <p>{{meet.venue}} </p></div>
                    <div class="col">
                        <button class="button icon-left ion-android-checkmark button-balanced">Join</button>
                        <button class="button icon-left ion-android-close button-assertive">Decline</button>
                    </div>



                </div>
            </a>
        </div>
    </ion-content>
</ion-view>