<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
        <ion-item item-avatar ng-repeat="setting in settings">
            <div class="row">
                <div class="col col-75">{{setting.name}}</div>
                <div class="col" ng:repeat="socialAccount in setting.socialAccounts | filter: {name:'Facebook'}"><i class="ion-social-facebook"></i></div>
                <div class="col" ng:repeat="socialAccount in setting.socialAccounts | filter: {name:'Google'}"><i class="ion-social-googleplus"></i></div>
                <div class="col" ng:repeat="socialAccount in setting.socialAccounts | filter: {name:'Mobile'}"><i class="ion-iphone"></i></div>
                <div class="col" ng:repeat="socialAccount in setting.socialAccounts | filter: {name:'E-Mail'}"><i class="ion-ios7-email"></i></div>
            </div>
        </ion-item>
    </ion-list>
    </ion-content>
</ion-view>