/* Empty. Add your own CSS if you like */


body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.scroll-content#imagebg{
    background-image: url(../img/bg/04.jpg);

}

.img#contactpic {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
}

#profilepic {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;


}



.item-complex, a.item.item-complex {
    padding: 0;
    background: rgba(0, 160, 138, 1);
}

.item-complex .item-content, .item-radio .item-content {

    background: rgba(0, 0, 0, 0);
}

